---
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout title="My First Real Project - Blog - Saalim">
  <SectionTitle text="My First Real Project" />

  <p>
    One of the first real projects I worked on as a Computer Engineering student
    was a small web application. It was not very complex, but it was the first
    time I had to put together HTML, CSS, and JavaScript in a single project.
  </p>

  <p>
    While building it, I learned how important it is to keep files organized and
    to test small pieces of functionality as I go. I also realized that debugging
    is a normal part of programming and not something to be afraid of. Fixing
    errors slowly taught me more than just reading examples.
  </p>

  <p>
    Finishing that project gave me confidence. Even though it was simple, it
    showed me that I could start with an idea, write code, and end up with
    something that actually works in the browser.
  </p>
</Layout>
