---
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout title="Why I Chose Computer Engineering - Blog - Saalim">
  <SectionTitle text="Why I Chose Computer Engineering" />

  <p>
    I chose Computer Engineering because I enjoy both hardware and software.
    I like understanding how computers and devices work at a low level, but I
    also like writing code that people can actually use in real applications.
  </p>

  <p>
    Computer Engineering at UCSD lets me explore topics like digital logic,
    circuits, and computer architecture, while also taking courses in
    programming, data structures, and web development. This mix keeps things
    interesting and gives me a broad set of skills for the future.
  </p>
  
</Layout>
